<div class="content" (click)="close()">
    <div class="headerSection">
      <div class="headerText">
        <h1>This is Loulia's Pastry Shop</h1>
        <div class="textBox">
          <p>On top, you can find some special and tasty
            pickings from our pastry shop, and we can't wait to
            have you!
            
          </p>
        </div>
      </div>
      <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
    
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/pic2.webp" class="d-block w-100" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="../assets/pic1.webp" class="d-block w-100" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="../assets/pic3.webp" class="d-block w-100" alt="Slide 3">
            </div>
        </div>
    
        <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    </div>  
  </div>